[Unit]
Description=autorandr execution hook
After=sleep.target

[Service]
ExecStart=/usr/local/bin/autorandr --batch --change --default default
Type=oneshot
RemainAfterExit=false

[Install]
WantedBy=sleep.target
