[Unit]
Description=autorandr resume hook
After=sleep.target
StopWhenUnneeded=yes

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStop=/usr/bin/autorandr --batch --change --default default

[Install]
WantedBy=sleep.target
