[Desktop Entry]
Name=Autorandr Lid Listener
Comment=Trigger autorandr whenever the lid state changes
Type=Application
Exec=bash -c "stdbuf -oL libinput debug-events | egrep --line-buffered '^ event[0-9]+\s+SWITCH_TOGGLE\s' | while read line; do autorandr --change --default default; done"
X-GNOME-Autostart-Phase=Initialization
